.my-pagination ::ng-deep .ngx-pagination .current {
    background: #db2725;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.my-pagination ::ng-deep .ngx-pagination .current:hover {
    background: #db2725;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.my-pagination ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #fecaca;
    color: #db2725;
    border-radius: 50px;
    text-decoration: none;
}

.my-pagination ::ng-deep .ngx-pagination a:focus, .ngx-pagination button:focus {
    background: #fecaca;
    color: #db2725
}

.my-pagination ::ng-deep .ngx-pagination a,
.ngx-pagination button {
  color: #db2725 !important;
  display: block !important;
  border: 1px solid #db2725 !important;
  border-radius: 50px;
  margin-left: 2px;
  margin-right: 2px;
}